@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

* { margin: 0; padding: 0; border: 0; background: none; }

html { height: 100%; }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  font-family: Helvetica, arial;
  background: linear-gradient(to top left, #222 0%, #333 100%);
  overflow: hidden;
}

body.hasVideo {
  background: #000;
}

#wrapper {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 56.25%;
}

#video {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#video iframe {
  height: 100%;
  width: 100%;
}

#drop-splash {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  color: #777;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0 0 3px rgba(0,0,0, .5);
  -webkit-user-select: none;
  cursor: default;
}

.isLoading #drop-splash span {
  display: none;
}

#drop-splash .sub-splash {
  display: block;
  padding: 10px 5px 0;
  color: #555;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
}

#loading-splash {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity .5s, height 0s .5s, width 0s .5s;
}

.isLoading #loading-splash {
  height: 100%;
  width: 100%;
  opacity: .7;
  transition: opacity .5s, height 0s, width 0s;
}

#loading-splash .spinner {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  border: .25rem solid rgba(255,255,255, .2);
  border-top-color: rgb(255,255,255);
  animation: spin 1s infinite linear;
}

#control-bar {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 22px;
  background: rgba(30,30,30, .7);
  opacity: 1;
  transition: .5s;
  -webkit-app-region: drag;
}

.hasVideo #control-bar {
  opacity: .25;
  transition: 1s 2s;
}

#control-bar:hover {
  background: rgba(20,20,20, .8);
  opacity: 1;
}

.hasVideo #control-bar:hover {
  opacity: 1;
  transition: .5s;
}

.isBlurred #control-bar {
  opacity: 0;
}

.isBlurred:not(.hasVideo) #control-bar {
  opacity: .5;
}

#control-bar .button {
  float: left;
  height: 22px;
  padding: 0 5px;
  line-height: 26px;
  text-align: center;
  -webkit-user-select: none;
  transition: opacity .3s;
  opacity: .3;
}

#control-bar .button img {
  height: 14px;
  width: 14px;
}

#control-bar .button img.gear {
  height: 15px;
  width: 15px;
}

#control-bar .button:hover {
  opacity: .5;
}

#control-bar .right {
  float: right;
}

#fullscreen-button, #fullscreen-button:hover {
  opacity: .15 !important;
  pointer-events: none;
}

.hasVideo #fullscreen-button {
  opacity: .3 !important;
  pointer-events: auto;
}

.hasVideo #fullscreen-button:hover {
  opacity: .5 !important;
}

#click-sheild {
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  transition: 0s .3s;
}

.isBlurred #click-sheild {
  width: 100%;
  height: 100%;
  transition: 0s;
}

#prefs {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  background: rgba(0,0,0, .6);
  opacity: 0;
  overflow: hidden;
  transition: 0s;
}

#prefs.isActive {
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: opacity .3s, height 0s, width 0s;
}

#prefs .inner {
  position: relative;
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 95%;
  max-height: 115px;
  max-width: 230px;
  background: rgba(0,0,0, .95);
  border-radius: 6px;
  border: 1px solid rgba(35,35,35, .7);
  box-shadow: 0 0 15px rgba(0,0,0, .3);
}

#prefs h2 {
  margin: 0;
  padding: 0 0 10px;
  color: #888;
  font-size: 12px;
  font-weight: 500;
  -webkit-user-select: none;
}

#prefs label, #prefs input, #prefs .item {
  -webkit-user-select: none;
  cursor: default;
}

#prefs .item {
  position: relative;
  min-width: 130px;
  margin: 0 0 5px;
  padding: 3px 6px;
  color: #CCC;
  font-size: 12px;
  text-align: left;
  text-shadow: 0 0 1px #000;
  background: rgba(255,255,255, .25);
  border-radius: 6px;
}

#prefs .item.isDisabled {
  color: #222;
  text-shadow: none;
  pointer-events: none;
}

#prefs .item input {
  display: none;
  position: absolute;
  top: 4px;
  right: 6px;
}

#prefs.isActive .item input {
  display: block;
}

#prefs .item.isDisabled input,
#prefs.isActive .item.isDisabled input {
  display: block;
  -webkit-user-select: none;
  pointer-events: none;
}

.isHidden { display: none !important; }
