@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

* { margin: 0; padding: 0; border: 0; background: none; }

body {
  font-family: Helvetica, arial;
  background: rgba(0,0,0, .4);
  overflow: hidden;
}

#wrapper {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 56.25%;
}

#video {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#video iframe {
  height: 100%;
  width: 100%;
}

#drop-splash {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  color: rgba(255,255,255, .4);
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.isLoading #drop-splash span {
  display: none;
}

#loading-splash {
  display: none;
  opacity: 0;
  transition: opacity .3s;
}

#loading-splash .spinner {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  border: .25rem solid rgba(255,255,255, 0.2);
  border-top-color: rgb(255,255,255);
  animation: spin 1s infinite linear;
}

.isLoading #loading-splash {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 100%;
  opacity: .7;
}

#control-bar {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background: rgba(35,35,35, .6);
  transition: .75s;
  -webkit-app-region: drag;
}

#control-bar:hover {
  background: rgba(20,20,20, .8);
  transition: .3s;
}

.isBlurred #control-bar {
  background: transparent;
}

#close-button {
  display: block;
  height: 15px;
  width: 15px;
  padding-left: 3px;
  line-height: 15px;
  font-size: 10px;
  font-weight: 300;
  color: rgba(255,255,255, .3);
  -webkit-user-select: none;
  transition: opacity .3s, color .3s, height 0s;
}

#close-button:hover {
  color: rgba(255,255,255, .5);
}

.isBlurred #close-button {
  height: 0;
  opacity: 0;
  transition: opacity 1s, height 1s 0s !important;
}

#click-sheild {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  transition: .3s 0s;
}

.isBlurred #click-sheild {
  width: 100%;
  height: 100%;
  transition: 0s;
}

.isHidden { display: none !important; }
